body{
  text-align:center;
  background: linear-gradient(#E1BEE7 0%, #90CAF9 100%);
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 100px;
}
#title{
  height: 500px;
  color: blue;
  opacity: 0.9;
}
img{
  width: 350px;
  margin-bottom: 30px;
  border-radius: 50%;
}
h1{
  text-shadow:2px 2px #f8bbd0;
  font-size: 35px;
  font-weight: 600;
}
#music{
  font-size: 38px;
  text-shadow:2px 2px #f8bbd0;
  font-family: 'Spirax';
  line-height: 2;
}
#line{
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
#bio{
  font-size: 20px;
  padding: 20px;
}
.menu{
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 7;
    cursor: pointer;
}
.links{
    display: inline;
    color:#fff;
    padding-top: 5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 5px;
    font-family: 'Crete Round';
    font-size: 20px;
}
.links:hover{
    background-color: darkmagenta;
}